* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: red;
}

.contact {
  padding: 20px;
  background-color: var(--main-color);
}

.header {
  color: green;
}

.footer {
  background-color: black;
}

.copyright {
  background-color: black;
}

.sidebar {
  background-color: orange;
  color: violet;
}

.parent {
  font-weight: bold;
}
.parent .child {
  font-size: 20px;
}
.parent .child .grand-child {
  font-size: 15px;
}

.parent-one,
.parent-two {
  padding: 20px;
}
.parent-one .child,
.parent-two .child {
  padding: 10px;
}

.parent > .child {
  font-size: 20px;
}
.parent > .test {
  font-weight: bold;
}

.parent > .child {
  font-size: 20px;
}
.parent .test {
  font-weight: bold;
}
.parent + p {
  font-size: 15px;
}

.parent > .element-one {
  font-size: 10px;
}
.parent > .element-two {
  font-size: 10px;
}
.parent .not-direct-child {
  font-weight: bold;
}

.box .title {
  font-size: 10px;
}
.box .description {
  font-size: 8px;
}
.box.red {
  color: red;
}
.box.green {
  color: green;
}
.box:hover {
  background-color: #eee;
}
.box:hover .title {
  font-weight: bold;
}
:not(.box) {
  font-weight: normal;
}
[dir=rtl] .box {
  direction: rtl;
}

@media (max-width: 767px) {
  .sidebar {
    padding: 40px;
  }
}
.box {
  font-size: 20px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.arrow-div, .box, .article, .ads {
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
}

.ads {
  font-size: 20px;
  color: red;
}

.article {
  font-size: 22px;
  color: green;
}

.page {
  background-color: #444;
  color: white;
}

.arrow-div {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px auto;
}
.arrow-div::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-left-color: #444;
}

.ad-facebook-utd5hwr {
  background-image: url("images/facebook.png");
  top: 0;
}

.ad-utd5hxj {
  background-image: url("images/facebook.png");
  top: 0;
}

/* This is a comment appear in css but not in compressed mode*/
/*! this is a comment appear in css and in compressed mode */
/* this comment contain interpplation => facebook */
ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 100px;
  background-color: red;
}

.class-1 {
  width: 101px;
}

.class-2 {
  width: 102px;
}

.class-3 {
  width: 103px;
}

.class-4 {
  width: 104px;
}

.class-5 {
  width: 105px;
}

.circle-1 {
  width: 100;
  height: 100;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.circle-102 {
  width: 200;
  height: 200;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.circle-203 {
  width: 300;
  height: 300;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.circle-304 {
  width: 400;
  height: 400;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.circle-405 {
  width: 500;
  height: 500;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.red {
  color: white;
  background-color: red;
}
.red::before {
  content: "red";
}

.green {
  color: white;
  background-color: green;
}
.green::before {
  content: "green";
}

.blue {
  color: white;
  background-color: blue;
}
.blue::before {
  content: "blue";
}

.yellow {
  color: white;
  background-color: yellow;
}
.yellow::before {
  content: "yellow";
}

.black {
  color: white;
  background-color: black;
}
.black::before {
  content: "black";
}

.white {
  color: white;
  background-color: white;
}
.white::before {
  content: "white";
}

.one {
  font-size: 20px;
  color: white;
  background-color: red;
  padding: 10px;
}
.one::before {
  content: "one";
}

.two {
  font-size: 10px;
  color: white;
  background-color: green;
  padding: 5px;
}
.two::before {
  content: "two";
}

.three {
  font-size: 30px;
  color: white;
  background-color: blue;
  padding: 15px;
}
.three::before {
  content: "three";
}

.class-1 {
  width: 100px;
  height: 50px;
}

.class-2 {
  width: 200px;
  height: 100px;
}

.class-3 {
  width: 300px;
  height: 150px;
}

.class-4 {
  width: 400px;
  height: 200px;
}

.class-5 {
  width: 500px;
  height: 250px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.box {
  width: 50px;
}

.box-2 {
  height: 600px;
}

.box-3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.5);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .sidebar {
    padding: 40px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    padding: 30px;
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    padding: 60px;
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar {
    padding: 80px;
    font-size: 40px;
  }
}/*# sourceMappingURL=style.css.map */