@mixin box($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
}
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin box ($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@mixin overlay($color, $opacity) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color, $opacity);
}

@mixin keyF($anim-name) {
  @keyframes #{$anim-name} {
    @content;
  }
}

@mixin media($media) {
  @if $media == mobile {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $media == tablet {
    @media screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $media == desktop {
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $media == large {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}